body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0%;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white

}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-row {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-row label {
    
    
    width: 150px;
    font-size: 15px;

}
.login-row input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.button-row {
    text-align: center;
    margin-top: 20px;

}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}